@import '../../../../styles/mixins.styl'
@import '../../../../styles/variables.styl'

.todo-list__wrapper
  padding 20px
  height 88.5vh
  background-color #eee


.todo-list
  background-color #fff

@media screen and (min-width $--xs-breakpoint)
  .todo-list__wrapper
    flex-function(column, flex-start)

  .todo-list__no-item-wrapper
    width 500px

  .default-todo__item
    width 540px !important


