@import '../../../../styles/mixins.styl'

.add-todo__todos-wrapper
  padding 20px

.add-todo__input-wrapper
  flex-function()

.add-todo__input
  width 100%

.add-todo__app-bar
  position relative !important

.add-todo__app-bar-title
  flex 1

.add-todo__date-picker
  margin-top 16px !important
  margin-bottom 8px !important
  width 100%