@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
border 0 {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* > * {
  font-family: Roboto;
}
.root {
  flex-grow: 1;
}
.grow {
  flex-grow: 1;
}
.menu-button {
  margin-left: -12;
  margin-right: 20;
}
.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login__wrapper-title {
  color: #3f51b5;
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.login__inner-wrapper {
  max-width: 350px;
}
.login__button {
  width: 100%;
}
.login__text-field {
  width: 100%;
}
.login__inner-wrapper {
  text-align: center;
}
.login__register-anchor-wrapper {
  margin-top: 20px;
}
.login__register-anchor-wrapper a {
  font-family: Roboto;
}
@media screen and (min-width: 600px) {
  .login__wrapper-title {
    max-width: 500px;
    text-align: center;
    margin-bottom: 30px;
  }
  .login__inner-wrapper {
    max-width: 450px;
  }
}
.register__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.register__wrapper-title {
  color: #3f51b5;
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.register__inner-wrapper {
  max-width: 350px;
}
.register__button {
  width: 100%;
}
.register__text-field {
  width: 100%;
}
.register__inner-wrapper {
  text-align: center;
}
.register__login-anchor-wrapper {
  margin-top: 20px;
}
.register__login-anchor-wrapper a {
  font-family: Roboto;
}
@media screen and (min-width: 600px) {
  .register__wrapper-title {
    max-width: 500px;
    text-align: center;
    margin-bottom: 30px;
  }
  .register__inner-wrapper {
    max-width: 450px;
  }
}
.todo-add__button {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}
.add-todo__todos-wrapper {
  padding: 20px;
}
.add-todo__input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-todo__input {
  width: 100%;
}
.add-todo__app-bar {
  position: relative !important;
}
.add-todo__app-bar-title {
  flex: 1;
}
.add-todo__date-picker {
  margin-top: 16px !important;
  margin-bottom: 8px !important;
  width: 100%;
}
.priority-group__wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.priority-group__default-priority-warning-message {
  color: rgba(0,0,0,0.54);
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 8px;
  min-height: 1em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1em;
  margin-bottom: 20px;
}
.no-list__no-item-wrapper {
  padding: 20px;
}
@media screen and (min-width: 600px) {
  .no-list__no-item-wrapper {
    width: 500px;
  }
}
.todo-list__wrapper {
  padding: 20px;
  height: 88.5vh;
  background-color: #eee;
}
.todo-list {
  background-color: #fff;
}
@media screen and (min-width: 600px) {
  .todo-list__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .todo-list__no-item-wrapper {
    width: 500px;
  }
  .default-todo__item {
    width: 540px !important;
  }
}
.default-todo__item {
  background-color: #fff !important;
}
.default-todo__item--warning,
.default-todo__item--danger,
.default-todo__item--success {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
.default-todo__item--danger {
  background-color: #c0392b;
}
.default-todo__item--warning {
  background-color: #f39c12;
}
.default-todo__item--success {
  background-color: #1abc9c;
}
