@import '../../styles/mixins.styl'
@import '../../styles/variables.styl'

.register__wrapper
  flex-function(column)

.register__wrapper
  flex-function(column)
  width 100%
  height 100vh

.register__wrapper-title
  color $--default-primary-color
  max-width 300px
  text-align center
  margin-bottom 30px
  font-size 1.5rem

.register__inner-wrapper
  max-width 350px

.register__button
  width 100%

.register__text-field
  width 100%

.register__inner-wrapper
  text-align center

.register__login-anchor-wrapper
  margin-top 20px

  & a
    font-family Roboto

@media screen and (min-width $--xs-breakpoint)
  .register__wrapper-title
    max-width 500px
    text-align center
    margin-bottom 30px

  .register__inner-wrapper
    max-width 450px