
.default-todo__item
  background-color #fff !important

.default-todo__item--warning
.default-todo__item--danger
.default-todo__item--success
  width 20px
  height 20px
  border-radius 50px

.default-todo__item--danger
  background-color $--default-danger-color

.default-todo__item--warning
  background-color $--default-warning-color

.default-todo__item--success
  background-color $--default-success-color
