@import '../../styles/mixins.styl'
@import '../../styles/variables.styl'

.login__wrapper
  flex-function(column)
  width 100%
  height 100vh

.login__wrapper-title
  color $--default-primary-color
  max-width 300px
  text-align center
  margin-bottom 30px
  font-size 1.5rem

.login__inner-wrapper
  max-width 350px

.login__button
  width 100%

.login__text-field
  width 100%

.login__inner-wrapper
  text-align center

.login__register-anchor-wrapper
  margin-top 20px

  & a
    font-family Roboto

@media screen and (min-width $--xs-breakpoint)
  .login__wrapper-title
    max-width 500px
    text-align center
    margin-bottom 30px

  .login__inner-wrapper
    max-width 450px