.priority-group__wrapper
  margin-top 30px
  display flex
  flex-direction column

.priority-group__default-priority-warning-message
  color rgba(0, 0, 0, 0.54)
  margin 0
  font-size 0.75rem
  text-align left
  margin-top 8px
  min-height 1em
  font-family "Roboto", "Helvetica", "Arial", sans-serif
  line-height 1em
  margin-bottom 20px